#### Trabajando con datos en texto simple.

In [4]:
import numpy
a = numpy.random.normal(size=10**2)

In [5]:
file = open("datos.txt", "w")
for item in a:
    file.write("{:.6f}\n".format(item))
file.close()

In [6]:
with open("data.txt", "w") as f:
    for item in a:
        f.write("{:.6f}\n".format(item))

In [7]:
with open("data.txt", "r") as f:
    print(f.readline(10))

-1.475569

In [39]:
lista_fake = 'elemento1 elemento2 elemento3'
lista_fake.split(' ')

['elemento1', 'elemento2', 'elemento3']

In [3]:
lista_fake = 'tipo nivel exp\nduende1 12 0.2\nelfo1 15 121\nhumano1 23 1245'
lista_fake_fase1 = lista_fake.split('\n')
lista_real = []
for stringer in lista_fake_fase1:
    new_stringer = stringer.split(' ')
    lista_real.append(new_stringer)
lista_real

[['tipo', 'nivel', 'exp'],
 ['duende1', '12', '0.2'],
 ['elfo1', '15', '121'],
 ['humano1', '23', '1245']]

In [22]:
import pandas as pd

dataframe = pd.read_csv('datos.txt', sep=' ', index_col=0, names=None, header=None)

In [23]:
dataframe

                1
0
0       -0.750514
1        1.513391
2       -0.257402
3        2.423730
4       -0.937215
...           ...
1499995 -0.307417
1499996 -0.432064
1499997  0.629598
1499998  0.037971
1499999  0.256897

[1500000 rows x 1 columns]